html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Rice Bikes
        body
            p Hi #{first_name},
            p Your bike is ready! Here is a summary of your transaction:

            p Best,
            p The Rice Bikes Team