html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
        title Rice Bikes
        body
            p Hi #{first_name},

            br

            p Thanks for visiting Rice Bikes!
            p This is an email to let you know your bike is ready for pickup.


            p Best,
            p the Rice Bikes team

            br
            br

            p
                a(href='https://ricebikes.typeform.com/to/FE3uA3') Leave us some feedback!
            p
                a(href='http://bikes.rice.edu/') Visit our website
            p
                a(href='https://www.facebook.com/RiceBikes/') Like us on Facebook


