doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
        title Low Stock Alert!
        body
            p Hi #{name},

            br

            p This is an email letting you know that stock in #{item.name} is running low!

            p The current stock is #{item.quantity}

            p Best,
            p The Rice Bikes WebApp

