= `Hi ${first_name},\nThanks for visiting Rice Bikes!\nThis is an email to let you know your bike is ready for pickup.\nPlease sign up for an appointment to pick it up here: https://calendly.com/ricebikes/rice-bikes-pickup-appointments\n\nBest,\nthe Rice Bikes team`
